@media (min-width: 992px) {
    .main-content{
        margin-left: 250px; 
        padding: 20px;
    }
}

:host {
    --color-primary: #3866aa;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #212529;
}