.card { 
  border: 0; 
}
.card-body { 
  padding: 1.75rem; 
}

.invalid-feedback.d-block { 
  color: #dc3545; 
}

@media (max-width: 576px) {
	.card { margin: 0 8px; }
}

.text-danger { 
  color: #dc3545 !important; 
}

